  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html, body{
    margin:0;
    padding:0;
    font-family: 'Bebas Neue', cursive;

}

#container{
    display:flex;
    flex-direction: column;
    justify-content: center; 
    align-self: center; 
    vertical-align: middle;
}

h1{
    font-size:4rem;
}

input[type="button"]{
    width:200px;
}

.parent{
    background-color:lightskyblue;
    margin:1rem;
    height: 10rem;
    width: 10rem;

}

.child{
    transition: transform 1s cubic-bezier(0.48, 2.04, 0.57, 0.31); /* this line apply a transition between the 2 states,if transform is specified the color change immediatly*/
    background-color: red;
    height: 5rem;
    width: 5rem;
}

.parent:hover .child{
    transform: translateX(100%);
    background-color: green;
}

.parent2{
    background-color:lightgreen;
    margin:1rem;
    height: 10rem;
    width: 10rem;

}
.child2{
    transition: transform 1s;
    background-color: red;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

.parent2:hover .child2{
    /* transform: translateX(100%); */
    animation: animationName 1s ease-in-out forwards 3 alternate;       /*forward keep properties on 100% */
}

@keyframes animationName {
    0% {transform: translateX(00%);}
    25% {transform: translateY(100%);}
    50% {transform: translateX(100%) translateY(100%);}
    75% {transform: translateY(0000%) translateX(+100%)}
    100% {transform: translateY(0000%) translateX(00%)}

}

.parent3{
    background-color:lightsalmon;
    margin:1rem;
    height: 10rem;
    width: 10rem;
    border-radius: 50px;
}
.child3 .animated{
    transition: transform 1s;
    background-color: red;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

.parent3 .child3 .animated{
    /* transform: translateX(100%); */
    animation: animationName 1s ease-in-out forwards infinite;       /*forward keep properties on 100% */
    animation-play-state: running;
}

@keyframes animationName {
    0% {transform: translateX(00%);background-color: red;}
    25% {transform: translateY(100%);}
    50% {transform: translateX(100%) translateY(100%);background-color: lightsalmon}
    75% {transform: translateY(0000%) translateX(+100%)}
    100% {transform: translateY(0000%) translateX(00%); background-color: red;}

}


