@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
    /* border: 2px red solid; */
}    

body {
    margin: 0;
    background: no-repeat center center fixed; 
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 20px #242424;
}

main {
    padding: 15px;
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: .3fr .3fr .3fr;
    grid-template-areas: "top" "" ""
                         "" "time" "weather"
                         "video" "video" "video";
}

#top{
    column-span:all;
}

#time{
    column-span:all;
}

div.top {
    display: flex;
    justify-content: space-between;
}

#time {
    text-align: center;
    font-size:3em;
    font-family: 'Press Start 2P', cursive;
    color: yellowgreen;
}

div#crypto {
    font-size: .8rem;
}

div#crypto > p {
    margin: 0;
}

div#crypto-top {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    flex-direction: column;
}

div#crypto-top > span {
    margin-left: 10px;
}

div#weather {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self: flex-start;
    margin-top: -20px;
}

div#weather > img {
    width: 70px;
}

p.weather-city {
    width: 100%;
    text-align: right;
    margin: 0;
    margin-top: -10px;
}

p.weather-temp {
    margin: 0;
    font-size: 1.7rem;
    margin-left: -10px;
}

i{
    color: #f80000; /* red */
    font-size: 20px;
    cursor: pointer;   
}

#converter{
    border: solid 2px black;
    background-color: rgba(0,0,0,.5);
}