html, body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#central-block{
    background-color: red;
    height:50vh;
    width:50vw;

}

.bar {
    background-color: aqua;
    height:50vh;
    width:50vw;
}