/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/
a{
    text-decoration: none;
    color: #457B9D;
}

body {
    margin: 0;
    padding:0;
    text-align: center;
    color: #1D3557;
}

img {
    width: 100px;
}

#top-div{
    margin-top:0;
    background-image: url(images/matthias-mullie-VAxCHgJvZ0g-unsplash.jpg);
    background-size: cover;
    color: white;
    height: 343px;
}

#top-div h1{
    background-color: #1D3557;
    border-radius: 10px;
    padding: 10px 20px;
    display:inline-block;
    
}

#top-div h2{
    background-color: #457B9D;
    display:inline-block;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(29, 53, 87, .3);
    padding: 0.1em .3em;
}

#middle-div{
    background-color: #F1FAEE;
    padding: 1em;
    margin-bottom: 2em;
}

.thumbnail{

    height: 100px;
    border-radius:20%;
    image-rendering:optimizeSpeed;
    margin-left:5px;
    margin-right:5px;
    display:inline-block;
  /*for many reasons - but mainly to get rid of the little margin-bottom that happens by default */
    width: 100px;
}

.thumbnail h6{
    margin-bottom: 2em;
}

#quote{
    margin:auto;
    width:70%;
        background-color: #A8DADC;
        border-radius: 15px;
        box-shadow:  0px 5px 0 #1D3557;
        padding: 1em;
        margin-bottom: 2em;

}

#quote h4{
    margin: auto;
    width:70%;
}

#quote img{
    border-radius: 10%;
}